<%- include("../partials/head.ejs") %>
<h1><%= soda.name %></h1>
<h2><%= soda.color %></h2>
<h3><%= soda.readyToEat ? "Ready to Eat" : "Not ready to eat" %></h3>

<a href="/soda/<%=index%>/edit"><button>Edit</button></a>